<p>b4 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="b41">b41</a></li>
  <li class="slds-item"><a routerLink="b42">b42</a></li>
  <li class="slds-item"><a routerLink="b43">b43</a></li>
  <li class="slds-item"><a routerLink="b44">b44</a></li>
  <li class="slds-item"><a routerLink="b45">b45</a></li>
  <li class="slds-item"><a routerLink="b46">b46</a></li>
  <li class="slds-item"><a routerLink="b47">b47</a></li>
  <li class="slds-item"><a routerLink="b48">b48</a></li>
  <li class="slds-item"><a routerLink="b49">b49</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
