<p>b1 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="b11">b11</a></li>
  <li class="slds-item"><a routerLink="b12">b12</a></li>
  <li class="slds-item"><a routerLink="b13">b13</a></li>
  <li class="slds-item"><a routerLink="b14">b14</a></li>
  <li class="slds-item"><a routerLink="b15">b15</a></li>
  <li class="slds-item"><a routerLink="b16">b16</a></li>
  <li class="slds-item"><a routerLink="b17">b17</a></li>
  <li class="slds-item"><a routerLink="b18">b18</a></li>
  <li class="slds-item"><a routerLink="b19">b19</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
