<p>a4 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="a41">a41</a></li>
  <li class="slds-item"><a routerLink="a42">a42</a></li>
  <li class="slds-item"><a routerLink="a43">a43</a></li>
  <li class="slds-item"><a routerLink="a44">a44</a></li>
  <li class="slds-item"><a routerLink="a45">a45</a></li>
  <li class="slds-item"><a routerLink="a46">a46</a></li>
  <li class="slds-item"><a routerLink="a47">a47</a></li>
  <li class="slds-item"><a routerLink="a48">a48</a></li>
  <li class="slds-item"><a routerLink="a49">a49</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
