<p>b3 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="b31">b31</a></li>
  <li class="slds-item"><a routerLink="b32">b32</a></li>
  <li class="slds-item"><a routerLink="b33">b33</a></li>
  <li class="slds-item"><a routerLink="b34">b34</a></li>
  <li class="slds-item"><a routerLink="b35">b35</a></li>
  <li class="slds-item"><a routerLink="b36">b36</a></li>
  <li class="slds-item"><a routerLink="b37">b37</a></li>
  <li class="slds-item"><a routerLink="b38">b38</a></li>
  <li class="slds-item"><a routerLink="b39">b39</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
