.cdk-global-overlay-wrapper, .cdk-overlay-container {
  pointer-events: none;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-overlay-backdrop, .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
}

.cdk-overlay-backdrop, .cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  z-index: 1000;
}
.cdk-overlay-backdrop {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cdk-overlay-transparent-backdrop {
  background: none;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}
