<p>a1 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="a11">a11</a></li>
  <li class="slds-item"><a routerLink="a12">a12</a></li>
  <li class="slds-item"><a routerLink="a13">a13</a></li>
  <li class="slds-item"><a routerLink="a14">a14</a></li>
  <li class="slds-item"><a routerLink="a15">a15</a></li>
  <li class="slds-item"><a routerLink="a16">a16</a></li>
  <li class="slds-item"><a routerLink="a17">a17</a></li>
  <li class="slds-item"><a routerLink="a18">a18</a></li>
  <li class="slds-item"><a routerLink="a19">a19</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
