<p>b2 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="b21">b21</a></li>
  <li class="slds-item"><a routerLink="b22">b22</a></li>
  <li class="slds-item"><a routerLink="b23">b23</a></li>
  <li class="slds-item"><a routerLink="b24">b24</a></li>
  <li class="slds-item"><a routerLink="b25">b25</a></li>
  <li class="slds-item"><a routerLink="b26">b26</a></li>
  <li class="slds-item"><a routerLink="b27">b27</a></li>
  <li class="slds-item"><a routerLink="b28">b28</a></li>
  <li class="slds-item"><a routerLink="b29">b29</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
