<p>a5 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="a51">a51</a></li>
  <li class="slds-item"><a routerLink="a52">a52</a></li>
  <li class="slds-item"><a routerLink="a53">a53</a></li>
  <li class="slds-item"><a routerLink="a54">a54</a></li>
  <li class="slds-item"><a routerLink="a55">a55</a></li>
  <li class="slds-item"><a routerLink="a56">a56</a></li>
  <li class="slds-item"><a routerLink="a57">a57</a></li>
  <li class="slds-item"><a routerLink="a58">a58</a></li>
  <li class="slds-item"><a routerLink="a59">a59</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
