<p>b5 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="b51">b51</a></li>
  <li class="slds-item"><a routerLink="b52">b52</a></li>
  <li class="slds-item"><a routerLink="b53">b53</a></li>
  <li class="slds-item"><a routerLink="b54">b54</a></li>
  <li class="slds-item"><a routerLink="b55">b55</a></li>
  <li class="slds-item"><a routerLink="b56">b56</a></li>
  <li class="slds-item"><a routerLink="b57">b57</a></li>
  <li class="slds-item"><a routerLink="b58">b58</a></li>
  <li class="slds-item"><a routerLink="b59">b59</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
