<p>a2 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="a21">a21</a></li>
  <li class="slds-item"><a routerLink="a22">a22</a></li>
  <li class="slds-item"><a routerLink="a23">a23</a></li>
  <li class="slds-item"><a routerLink="a24">a24</a></li>
  <li class="slds-item"><a routerLink="a25">a25</a></li>
  <li class="slds-item"><a routerLink="a26">a26</a></li>
  <li class="slds-item"><a routerLink="a27">a27</a></li>
  <li class="slds-item"><a routerLink="a28">a28</a></li>
  <li class="slds-item"><a routerLink="a29">a29</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
