<p>a3 works!</p>
<hr>
<ul class="slds-list_horizontal slds-has-dividers_left slds-has-block-links">
  <li class="slds-item"><a routerLink="a31">a31</a></li>
  <li class="slds-item"><a routerLink="a32">a32</a></li>
  <li class="slds-item"><a routerLink="a33">a33</a></li>
  <li class="slds-item"><a routerLink="a34">a34</a></li>
  <li class="slds-item"><a routerLink="a35">a35</a></li>
  <li class="slds-item"><a routerLink="a36">a36</a></li>
  <li class="slds-item"><a routerLink="a37">a37</a></li>
  <li class="slds-item"><a routerLink="a38">a38</a></li>
  <li class="slds-item"><a routerLink="a39">a39</a></li>
</ul>
<hr>
<router-outlet></router-outlet>
